<% if @user.authors.any? %>

<h3> <%= l('author_on_projects') %>  </h3>
<ul>
  <% @user.authors.each do |author|%>
      <li> <%= link_to author.project.name, project_path(author.project) %></li>
  <%end%>
</ul>

<% end %>